@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.container {
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 20px;
}


.button {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}


/* .hof-container {

} */

@media all  and (max-width: 569px) {
  .button {
    width: 100%;
    min-height: 50px;
  }

  .input {
    width: 100%;
  }

  .hof-container {
    width: 100% !important;
  }

}
